{% extends "base.html" %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item, value in liars.items() %}
        <div class="col">
            <div class="card text-center">
                <img src="{{ url_for('static', filename='img/') }}{{ pfp.get(item) }}" width=250 height=250 class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ value.name }}</h5>
                    <p class="card-text">{{ value.show_slots() }}</p>
                    {% if value.alive %}
                        <form method="post">
                            <button class="btn btn-primary" name="person" value="{{ item }}">Pull the Trigger</button>
                        </form>
                    {% else %}
                        <button class="btn btn-secondary">You are Dead :(</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
