{% extends "base.html" %}

{% block content %}
    <ul class="list-group list-group-flush">
        {% for item, value in liars.items() %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ value.name }}</h5>
                    <p class="card-text">{{ value.show_slots() }}</p>
                    {% if value.alive %}
                        <form method="post">
                            <button class="btn btn-primary" name="person" value="{{ item }}">Take a Shot</button>
                        </form>
                    {% else %}
                        <button class="btn btn-secondary">You are Dead :(</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}


{#<div class="card" style="width: 18rem;">#}
{#  <img src="..." class="card-img-top" alt="...">#}
{#  <div class="card-body">#}
{#    <h5 class="card-title">{{ value.name }}</h5>#}
{#    <p class="card-text">{{ value.slots() }}</p>#}
{#      {% if value.alive() %}#}
{#      <form method="post">#}
{#          <button class="btn btn-primary" name="person" value="{{ item }}">Take a Shot</button>#}
{#      </form>#}
{#      {% else %}#}
{#          <button class="btn btn-secondary">You are Dead :(</button>#}
{#      {% endif %}#}
{#  </div>#}
{#</div>#}

{#{% block content %}#}
{#    <ul class="list-group list-group-flush">#}
{#        {% for item, value in liars.items() %}#}
{#            <li class="list-group-item">#}
{#                <div class="text-center">#}
{#                    {% if value.alive %}#}
{#                        <form method="post">#}
{#                            <button class="btn btn-primary" name="person"#}
{#                                    value="{{ item }}">{{ value.show_name() }}</button>#}
{#                        </form>#}
{#                    {% else %}#}
{#                        <button class="btn btn-secondary">{{ value.show_name() }}</button>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endblock content %}#}